//------------------------------------------------------------------------
// Fonts
//------------------------------------------------------------------------

// Imports
//------------------------------------------------------------------------
@import url("http://fonts.googleapis.com/css?family=Lato:300,700");

// Font face
//------------------------------------------------------------------------
$font-face-primary:   "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-face-secondary: "Georgia", serif;

// Font size
//------------------------------------------------------------------------
$font-size-base: 10px;

// Line height
//------------------------------------------------------------------------
$line-height-base: 1.4;
